pip install appdirs==1.4.4
pip install asgiref==3.3.1
pip install black==20.8b1
pip install click==7.1.2
pip install Django==3.1.6
pip install django-filter==2.4.0
pip install django-multiselectfield==0.1.12
pip install mypy-extensions==0.4.3
pip install pathspec==0.8.1
pip install pytz==2020.4
pip install regex==2020.11.13
pip install sqlparse==0.4.1
pip install toml==0.10.2
pip install typed-ast==1.4.1
pip install typing-extensions==3.7.4.3
pip install psycopg2==2.8.6
pip install gunicorn==20.0.4
pip install whitenoise==5.2.0
